.idea
.vs
/obj/Debug/net8.0/ref/ConsoleApp1.dll
/obj/Debug/net8.0/refint/ConsoleApp1.dll
/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/obj/Debug/net8.0/apphost.exe
/obj/Debug/net8.0/ConsoleApp1.AssemblyInfo.cs
/obj/Debug/net8.0/ConsoleApp1.AssemblyInfoInputs.cache
/obj/Debug/net8.0/ConsoleApp1.assets.cache
/obj/Debug/net8.0/ConsoleApp1.csproj.BuildWithSkipAnalyzers
/obj/Debug/net8.0/ConsoleApp1.csproj.CoreCompileInputs.cache
/obj/Debug/net8.0/ConsoleApp1.csproj.FileListAbsolute.txt
/obj/Debug/net8.0/ConsoleApp1.dll
/obj/Debug/net8.0/ConsoleApp1.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net8.0/ConsoleApp1.genruntimeconfig.cache
/obj/Debug/net8.0/ConsoleApp1.GlobalUsings.g.cs
/obj/Debug/net8.0/ConsoleApp1.pdb
/obj/ConsoleApp1.csproj.nuget.dgspec.json
/obj/ConsoleApp1.csproj.nuget.g.props
/obj/ConsoleApp1.csproj.nuget.g.targets
/obj/project.assets.json
/obj/project.nuget.cache
/obj/project.packagespec.json
/obj/rider.project.model.nuget.info
/obj/rider.project.restore.info
/bin/Debug/net8.0/ConsoleApp1.deps.json
/bin/Debug/net8.0/ConsoleApp1.dll
/bin/Debug/net8.0/ConsoleApp1.exe
/bin/Debug/net8.0/ConsoleApp1.pdb
/bin/Debug/net8.0/ConsoleApp1.runtimeconfig.json
